.header
  %form#login
    %input#login-email{:placeholder => 'email..'}
    %input#login-password{:type => 'password', :placeholder => 'password..'}
    %input{:type => 'submit', :value => 'Login'}
  %a#profile-link{:href => '#'}
  %a#logout{:href => '#'} Logout
  %form#idea-form
    %input#idea-input{:placeholder => 'Add an idea..'}
    %input{:type => 'submit'}

#ideas

#intro
  A free-flow of thoughts.
  %br
  %br
  Keeping track of ideas should be intuitive.
  %br
  %br
  Why tag and categorize when you can sift?
  %br
  %br
  Sign up today! It's free.
  %br
  %br

  %form#register
    %input#register-email{:placeholder => 'Your Email..', :type => 'email'}
    %input#register-password{:placeholder => 'Password..', :type => 'password'}
    %input#register-password-confirmation{:placeholder => 'Password Confirmation..', :type => 'password'}
    %input{:type => 'submit', :value => 'Register'}
