@import url(http://fonts.googleapis.com/css?family=Nothing+You+Could+Do);
@import url(http://fonts.googleapis.com/css?family=Share+Tech);

* { font-family: 'Nothing You Could Do', cursive;}

#intro {
  display: none;
  width: 550px;
  max-width: 100%;
  margin: 150px auto;
  font-size: 25px;
  text-align: center;
  }

#login { display :none; }

#profile-link {
  display: none;
  float: left;
  margin: -20px 0 20px 10px;
  font-family: 'Share Tech', sans-serif;
}

#logout {
  display: none;
  float: right;
  margin: -20px 10px 20px 0;
  font-family: 'Share Tech', sans-serif;
}

#ideas { display: none; }

#idea-form {
  width: 1000px;
  max-width: 100%;
  margin: 30px auto 20px auto;
  display: none;
}

#idea-form input {
  width: 70%;
  height: 50px;
  font-size: 40px;
  text-align: center;
  margin: 0 0 0 20px;
}

#idea-form input[type='submit'] {
  color: white;
  width: 100px;
  height: 54px;
  border: 1px solid grey;
}

#idea-form input[type='submit']:hover {
  color: grey;
}


.idea {
  width: 500px;
  max-width: 100%;
  margin: 20px auto;
  font-size: 30px;
  text-align: center;
  opacity: .7;
  font-family: 'Nothing You Could Do', cursive;
}

.hover {
  opacity: 1;
}
